<div class="border" id="border-<%= comment.id %>" data-id="<%=comment.id%>">
  <div class="image_container">
    <div id="preview-image-<%= comment.id %>">
      <% if comment.image? %>
        <%= image_tag comment.image.thumb, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>
  </div>

  <div class="topicdescription">
    <h5 class="description"><%= comment.body %></h5>
  </div>

  <div class="like_dislike_container">
    <% liked, disliked = "btn-primary", "btn-primary" %>
    <% if current_user %>
      <% case current_user.votes.find_by(comment_id: comment.id)&.like %>
      <% when -1 %>
        <% disliked = "btn-info" %>
      <% when 1 %>
        <% liked = "btn-info" %>
      <% end %>
    <% end %>

    <%= link_to upvote_path(comment_id: comment.id), remote: true, method: :post, class: "btn #{liked} btn-block like-button", id: "like-button" do %>
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      <h5 class="likes-description"><%= comment.total_likes %></h5>
    <% end %>
    <%= link_to downvote_path(comment_id: comment.id), remote: true, method: :post, class: "btn #{disliked} btn-block dislike-button", id: "dislike-button" do %>
      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      <h5 class="dislikes-description"><%= comment.total_dislikes %></h5>
    <% end %>
  </div>

  <div class="control-panel">
    <% if current_user && current_user.id == comment.user_id || current_user&.admin? || current_user&.moderator? %>
      <div class="edit_button">
        <%= link_to "Edit", edit_topic_post_comment_path(post.topic, post, comment), remote: true, class: "btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>
