<div class="landing">
  <div class="background">
    <div class="class">
      <h1 class="main-title">
        Testing.
      </h1>
    </div>
  </div>

  <div class="background-2">
    <div class="class">
      <h1 class="second-title">
        Testing round 2.
      </h1>
    </div>
  </div>

  <section class="features-container">
    <h1 class="feature-title text-center">
      Features
    </h1>
    <hr class="primary">
    <div class="features">
      <div class="feature text-center">
        <%= fa_icon 'wheelchair-alt 5x', class: 'icon-settings' %>
        <h3>Fast and Furious</h3>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'snapchat 5x', class: 'icon-settings' %>
        <h3>Snap and Chat</h3>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'blind 5x', class: 'icon-settings' %>
        <h3>Walk and Talk</h3>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'instagram 5x', class: 'icon-settings' %>
        <h3>Post and Tap</h3>
      </div>
    </div>

  <div class="pictures">
    <div class="picture">
      <div class="invisible-layout">
        <div class="content">
          <h1 class="opaque-title">Testing 1</h1>
        </div>
      </div>
    <%= image_tag "shoe.jpg", class: "img-settings center-block" %>
    </div>
    <div class="picture">
      <div class="invisible-layout">
        <div class="content">
          <h1 class="opaque-title">Testing 2</h1>
        </div>
      </div>
    <%= image_tag "railway.jpg", class: "img-settings center-block" %>
    </div>
    <div class="picture">
      <div class="invisible-layout">
        <div class="content">
          <h1 class="opaque-title">Testing 3</h1>
        </div>
      </div>
    <%= image_tag "watch.jpg", class: "img-settings center-block" %>
    </div>
    <div class="picture">
      <div class="invisible-layout">
        <div class="content">
          <h1 class="opaque-title">Testing 4</h1>
        </div>
      </div>
    <%= image_tag "camera.jpg", class: "img-settings center-block" %>
    </div>
  </div>

  <section class="outro-container">
    <h1 class="outro-title text-center">
      Thank You
    </h1>
    <hr class="primary">
    <h1 class="contact-text text-center">
      Here's my details and some typing to make this sentence longer so that I can check whether it's working or not.
      Here's my phone number and email address, because hey that's part of the template and why would you not include that on your webpage? You'd be a fool not to! I can't wait for all the job offers to come pouring in from all the companies wanting my insane website design skills.
    </h1>
    <h1 class="contact-text text-center">
      More typing to make another line.
    </h1>

    <div class="features">
      <div class="feature text-center">
        <%= fa_icon 'phone 5x' %>
        <h3>016789456</h3>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'envelope-o 5x'%>
        <h3>asdasd@asdasd.com</h3>
      </div>
    </div>
</div>
