<div class="topics">
  <h1 class="main-title">Topics</h1>
  <div class="text-center">
    <%= link_to "New Topic", new_topic_path, class: "btn btn-success" %>
  </div>

  <div id="topics">
    <% @topics.each do |topic| %>
      <%= render partial: "topic", locals: { topic: topic } %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>

  <% if current_user.admin? %>
    <div class="new", id="new">
      <%= render partial: "form", locals: { topic: @topic } %>
    </div>
  <% end %>

  <!-- <div class="topics-container">
    <% @topics.each do |topic| %>
      <div class="topic">
        <h3 class="topic-title"><%= topic.title %></h3>
        <h5 class="topic-description"><%= topic.description %></h5>
        <%= link_to "Edit", '#', class: "btn btn-success btn-settings" %>
      </div>
    <% end %>
  </div> -->
</div>
