<div class="topics">
  <h1 class="main-title">Topics</h1>
  <div class="text-center">
    <%= link_to "New Topic", new_topic_path, class: "btn btn-success" %>
  </div>
    <% @topics.each do |topic| %>
      <div class="border">
          <div class="topicdescription">
            <h3 class="main-text"><%= link_to topic.title, topic_posts_path(topic) %></h3>
            <h5 class="description"><%= topic.description %></h5>
          </div>
          <div class="edit_button">
            <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-success btn-block" %>
          </div>
      </div>
    <% end %>

  <!-- <div class="topics-container">
    <% @topics.each do |topic| %>
      <div class="topic">
        <h3 class="topic-title"><%= topic.title %></h3>
        <h5 class="topic-description"><%= topic.description %></h5>
        <%= link_to "Edit", '#', class: "btn btn-success btn-settings" %>
      </div>
    <% end %>
  </div> -->
</div>
