<div class="border", id="border-<%= post.id %>">
  <div class="image_container">
    <div id="preview-image-<%= post.id %>">
      <% if post.image? %>
        <%= image_tag post.image.thumb, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>
  </div>
  <div class="topicdescription">
    <h3 class="main-text"><%= link_to post.title, topic_post_comments_path(@topic, post) %></h3>
    <h5 class="description"><%= post.body %></h5>
  </div>
  <% if current_user.present? && current_user.id == post.user_id || current_user&.admin? || current_user&.moderator? %>
    <div class="edit_button">
      <%= link_to "Edit", edit_topic_post_path(@topic, post), remote: true, class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
